page-login {
  .logo {
    width: 100%;
    height: auto;
  }
  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
